body {
    color: black;
    background-color: #2e2e2e;
    overflow: hidden;
}

.wrapper {
    /* margin-left: auto;
    margin-right: auto; */
    width: 800px;
    margin: 0;
}

.map_mesh {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
}

.map_outline {
    fill: #ddd;
    stroke: #000;
    stroke-width: 1.5px;
}


/*
.map_neighbourhood {
    fill: #126AD2;
}
*/

.map_neighbourhood:hover {
    fill: #636363;
    cursor: pointer;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    pointer-events: none;
    color: #000;
    border-radius: 6px;
}

#vis {
    /* display: none; */
    /* margin-left: auto;*/
    /* margin-right: 20%; */
    /* margin: 0 auto; */
    /* z-index: -3; */
    margin-left: 50%;
    /* padding-top: 10%; */
    /* display: inline; */
}

#cause_filter {
    color: white;
    /* margin-top: 0rem;
    margin-left: 80%; 
    position: absolute;*/
    /* margin-right: 10rem; */
    border: red;
    border-radius: 2rem;
    position: absolute;
    right: 0;
}

#date_filter {
    margin-left: 1rem;
    position: absolute;
    left: 0;
}

.inline {
    display: inline;
}

#legends {
    /* margin: 0; */
    margin-left: 1rem;
    margin-top: 1.5rem;
    width: 110px;
    position: absolute;
    left: 0;
    /*height: 230px; */
}

text {
    margin-top: 2px;
}