body {
    color: black;
    background-color: #2e2e2e;
    overflow: hidden;
}

.wrapper {
    width: 800px;
    margin: 0;
}

.map_mesh {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
}

.map_outline {
    fill: #ddd;
    stroke: #000;
    stroke-width: 1.5px;
}


/*
.map_neighbourhood {
    fill: #126AD2;
}
*/

.map_neighbourhood:hover {
    fill: #636363;
    cursor: pointer;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 250px;
    height: 75px;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    pointer-events: none;
    color: #000;
    border-radius: 6px;
}

#vis {
    position: absolute;
    left: 20%;
    top: 0;
    z-index: -1;
}

#cause_filter {
    position: fixed;
    color: white;
    border: red;
    border-radius: 2rem;
    position: absolute;
    right: 0;
    z-index: 1;
}

#date_filter {
    position: fixed;
    margin-left: 1rem;
    position: absolute;
    left: 0;
    z-index: 1;
}

.inline {
    display: inline;
}

#legends {
    position: fixed;
    z-index: 1;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 110px;
    position: absolute;
    left: 0;
}

text {
    margin-top: 2px;
}